<!-- IF MCHAT_ARCHIVE_PAGE or MCHAT_CUSTOM_PAGE -->
	<!-- INCLUDE overall_header.html -->
<!-- ENDIF -->

<!-- INCLUDEJS jquery.titlealert.min.js -->
<!-- INCLUDEJS js.cookie-2.0.4.min.js -->
<!-- INCLUDEJS mchat.js -->

<!-- IF MCHAT_ARCHIVE_PAGE and (.pagination or MCHAT_TOTAL_MESSAGES) -->
<div class="action-bar top">
	<div class="pagination">
		{MCHAT_TOTAL_MESSAGES}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- EVENT dmzx_mchat_body_before -->
<a id="mChat"></a>
<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt><!-- IF MCHAT_ARCHIVE_PAGE -->{L_MCHAT_ARCHIVE_PAGE}<!-- ELSEIF S_MCHAT_CUSTOM_PAGE --><a href="{MCHAT_FILE_NAME}" title="{L_MCHAT_TITLE}">{L_MCHAT_TITLE}</a><!-- ELSE -->{L_MCHAT_TITLE}<!-- ENDIF --></dt>
					<dd style="border:none">&nbsp;</dd>
				</dl>
			</li>
		</ul>

		<div id="mchat-body" class="postbody">
			<script type="text/javascript">
			// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
			var mChat = {
				// General settings
				file			: '{MCHAT_FILE_NAME}',
				extUrl			: '{EXT_URL}',
				customPage		: <!-- IF MCHAT_CUSTOM_PAGE -->true<!-- ELSE -->false<!-- ENDIF -->,
				pause			: <!-- IF MCHAT_PAUSE_ON_INPUT -->true<!-- ELSE -->false<!-- ENDIF -->,
				playSound		: <!-- IF S_MCHAT_SOUND_YES -->true<!-- ELSE -->false<!-- ENDIF -->,
				archiveMode		: <!-- IF MCHAT_ARCHIVE_PAGE -->true<!-- ELSE -->false<!-- ENDIF -->,
				messageTop		: <!-- IF MCHAT_MESSAGE_TOP -->true<!-- ELSE -->false<!-- ENDIF -->,
				liveUpdates		: <!-- IF MCHAT_LIVE_UPDATES -->true<!-- ELSE -->false<!-- ENDIF -->,

				// Limits & timeouts
				refreshTime		: {MCHAT_REFRESH_JS},
				whoisRefresh	: {MCHAT_WHOIS_REFRESH},
				userTimeout		: {MCHAT_USER_TIMEOUT},
				mssgLngth		: {MCHAT_MESSAGE_LNGTH},
				editDeleteLimit	: {MCHAT_EDIT_DELETE_LIMIT},

				// Language
				newMessageAlert	: '{LA_MCHAT_NEW_CHAT}',
				noMessageInput	: '{LA_MCHAT_NOMESSAGEINPUT}',
				noMessages		: '{LA_MCHAT_NOMESSAGE}',
				editInfo		: '{LA_MCHAT_EDITINFO}',
				noAccess		: '{LA_NO_AUTH_OPERATION}',
				flood			: '{LA_MCHAT_FLOOD}',
				delConfirm		: '{LA_MCHAT_DELCONFIRM}',
				clearConfirm	: '{LA_MCHAT_RESET_QUESTION}',
				sessOut			: '{LA_MCHAT_SESSION_OUT}',
				sessEnds		: '{LA_MCHAT_SESSION_ENDS}',
				refreshYes		: '{MCHAT_REFRESH_YES}',
				refreshNo		: '{LA_MCHAT_REFRESH_NO}',
				mssgLngthLong	: '{MCHAT_MESS_LONG}',
				likes			: '{LA_MCHAT_LIKES}'
			};
			// ]]>
			</script>

			<audio id="mchat-sound-add" class="hidden" src="{EXT_URL}sounds/add.mp3" preload="auto"></audio>
			<audio id="mchat-sound-edit" class="hidden" src="{EXT_URL}sounds/edit.mp3" preload="auto"></audio>
			<audio id="mchat-sound-del" class="hidden" src="{EXT_URL}sounds/del.mp3" preload="auto"></audio>
			<audio id="mchat-sound-error" class="hidden" src="{EXT_URL}sounds/error.mp3" preload="auto"></audio>

			<div id="mchat-main" class="mchat-row-limit"<!-- IF not MCHAT_ARCHIVE_PAGE --> style="height:<!-- IF MCHAT_CUSTOM_PAGE -->{MCHAT_CUSTOM_HEIGHT}<!-- ELSE -->{MCHAT_INDEX_HEIGHT}<!-- ENDIF -->px"<!-- ENDIF -->>
				<div id="mchat-confirm" class="hidden">
					<h3>{L_CONFIRM}</h3>
					<p></p>
					<textarea></textarea>
					<fieldset class="submit-buttons">
						<input type="button" name="confirm" value="{L_MCHAT_OK}" class="button2" />&nbsp;
						<input type="button" name="cancel" value="{L_CANCEL}" class="button2" />
					</fieldset>
				</div>

				<div id="mchat-messages"><!-- INCLUDE mchat_messages.html --></div>
				<!-- IF not .mchatrow --><div id="mchat-no-messages">{L_MCHAT_NOMESSAGE}</div><!-- ENDIF -->
			</div>

			<!-- IF MCHAT_STATIC_MESS and not MCHAT_ARCHIVE_PAGE -->
				<div id="mchat-static"><strong>{L_MCHAT_ANNOUNCEMENT}{L_COLON}</strong> <span>{MCHAT_STATIC_MESS}</span></div>
			<!-- ENDIF -->

			<!-- IF not MCHAT_ARCHIVE_PAGE and not MCHAT_CUSTOM_PAGE and MCHAT_WHOIS_REFRESH -->
				<!-- INCLUDE mchat_whois.html -->
			<!-- ENDIF -->

			<form name="postform" id="mchat-form" action="{MCHAT_FILE_NAME}" method="POST">
				{S_FORM_TOKEN}
				<!-- IF not MCHAT_ARCHIVE_PAGE -->
					<div class="mchat-panel">
						<noscript><div class="mchat-alert">{L_MCHAT_NOJAVASCRIPT}</div></noscript>
						<!-- IF MCHAT_ALLOW_USE -->
							<!-- IF MCHAT_INPUT_TYPE -->
								<input type="text" name="message" class="inputbox medium" id="mchat-input" />
							<!-- ELSE -->
								<textarea name="message" class="inputbox no-auto-resize" id="mchat-input" cols="32" rows="5"></textarea>
							<!-- ENDIF -->
							<br />
							<input id="mchat-add" type="button" class="button2" data-mchat-action="add" value="{L_MCHAT_ADD}" />
							<!-- IF MCHAT_USER_TIMEOUT or MCHAT_PAUSE_ON_INPUT -->
								<input id="mchat-clear" type="button" class="button2" data-mchat-action="clear" value="{L_RESET}" />
							<!-- ENDIF -->
							<!-- IF MCHAT_ALLOW_SMILES and .smiley -->
								<input type="button" class="button2" data-mchat-toggle="smilies" value="{L_MCHAT_SMILES}" />
							<!-- ENDIF -->
							<!-- IF MCHAT_ALLOW_BBCODES -->
								<input type="button" class="button2" data-mchat-toggle="bbcodes" value="{L_MCHAT_BBCODES}" />
							<!-- ENDIF -->
						<!-- ENDIF -->
						<!-- EVENT dmzx_mchat_buttons_mid -->
						<!-- IF MCHAT_READ_ARCHIVE_BUTTON -->
							<input type="button" class="button2" onclick="window.location.href = '{MCHAT_ARCHIVE_URL}';" value="{L_MCHAT_ARCHIVE}" />
						<!-- ENDIF -->
						<!-- IF MCHAT_ALLOW_USE -->
							<!-- IF MCHAT_RULES -->
								<input type="button" class="button2" onclick="popup('{U_MCHAT_RULES}', 450, 275); return false;" value="{L_MCHAT_RULES}" />
							<!-- ENDIF -->
							<!-- EVENT dmzx_mchat_buttons_after -->
							<!-- IF MCHAT_ALLOW_BBCODES -->
								<!-- INCLUDE mchat_bbcodes.html -->
							<!-- ENDIF -->
						<!-- ENDIF -->
						<!-- IF MCHAT_ALLOW_SMILES and .smiley -->
							<div id="mchat-smilies" class="hidden">
								<!-- BEGIN smiley -->
								<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
								<!-- END smiley -->
								<a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
							</div>
						<!-- ENDIF -->
						<!-- EVENT dmzx_mchat_body_smiley_after -->
						<div id="mchat-status">
							<img src="{EXT_URL}styles/prosilver/theme/images/load.gif" alt="{L_LOADING}" title="{L_LOADING}" id="mchat-refresh-load" />
							<img src="{EXT_URL}styles/prosilver/theme/images/ok.gif" alt="{L_MCHAT_OK}" title="{L_MCHAT_OK}" id="mchat-refresh-ok" />
							<img src="{EXT_URL}styles/prosilver/theme/images/paused.gif" alt="{L_MCHAT_PAUSE}" title="{L_MCHAT_PAUSE}" id="mchat-refresh-paused" />
							<img src="{EXT_URL}styles/prosilver/theme/images/error.gif" alt="{L_ERROR}" title="{L_ERROR}" id="mchat-refresh-error" />
							<span id="mchat-refresh-text">{MCHAT_REFRESH_YES}</span>
							<!-- IF MCHAT_USER_TIMEOUT --> &bull; <span id="mchat-session">{L_MCHAT_SESSION_ENDS} {MCHAT_USER_TIMEOUT_TIME}</span><!-- ENDIF --> &bull; <label for="mchat-user-sound">{L_MCHAT_USESOUND} <input type="checkbox" id="mchat-user-sound"<!-- IF S_MCHAT_SOUND_YES --> checked="checked"<!-- ENDIF --> /></label>
							{L_MCHAT_COPYRIGHT}
						</div>
					</div>
				<!-- ENDIF -->
			</form>
		</div>
	</div>
</div>

<!-- IF MCHAT_ARCHIVE_PAGE and (.pagination or MCHAT_TOTAL_MESSAGES) -->
<div class="action-bar bottom">
	<div class="pagination">
		{MCHAT_TOTAL_MESSAGES}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- ENDIF -->

<!-- IF MCHAT_CUSTOM_PAGE and not MCHAT_ARCHIVE_PAGE and MCHAT_WHOIS_REFRESH -->
	<h3>{L_WHO_IS_CHATTING}</h3>
	<!-- INCLUDE mchat_whois.html -->
	<div class="mchat-refresh">
		<span id="mchat-refresh">{MCHAT_WHOIS_REFRESH_EXPLAIN}</span>
		<span id="mchat-refresh-pending" class="hidden">{L_MCHAT_REFRESHING}</span>
		<!-- IF LEGEND --><br /><br /><em>{L_LEGEND}{L_COLON} {LEGEND}</em><!-- ENDIF -->
	</div>
<!-- ELSEIF MCHAT_ARCHIVE_PAGE and LEGEND -->
	<div class="mchat-refresh">
		<em>{L_LEGEND}{L_COLON} {LEGEND}</em>
	</div>
<!-- ENDIF -->

<!-- IF MCHAT_ARCHIVE_PAGE or MCHAT_CUSTOM_PAGE -->
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
