<!-- IF MCHAT_IS_ARCHIVE_PAGE or not (MCHAT_ALLOW_USE and S_BBCODE_ALLOWED) -->
	<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->
<!-- ENDIF -->

<!-- INCLUDEJS @dmzx_mchat/javascript/jquery.autogrow-textarea.js -->
<!-- INCLUDEJS @dmzx_mchat/javascript/jquery.titlealert.min.js -->
<!-- INCLUDEJS @dmzx_mchat/javascript/mchat.js -->

<script type="text/javascript">
	// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
	var mChat = {
		// General settings
		actionUrls		: {
			<!-- BEGIN mchaturl -->
			{mchaturl.ACTION}: '{mchaturl.URL}'<!-- IF not mchaturl.IS_LAST -->,<!-- ENDIF -->
			<!-- END mchaturl -->
		},
		page			: '{MCHAT_PAGE}',
		cookie			: '{A_COOKIE_NAME}',
		customPage		: <!-- IF MCHAT_IS_CUSTOM_PAGE -->true<!-- ELSE -->false<!-- ENDIF -->,
		archivePage		: <!-- IF MCHAT_IS_ARCHIVE_PAGE -->true<!-- ELSE -->false<!-- ENDIF -->,
		pause			: <!-- IF MCHAT_PAUSE_ON_INPUT -->true<!-- ELSE -->false<!-- ENDIF -->,
		playSound		: <!-- IF MCHAT_SOUND -->true<!-- ELSE -->false<!-- ENDIF -->,
		messageTop		: <!-- IF MCHAT_MESSAGE_TOP -->true<!-- ELSE -->false<!-- ENDIF -->,
		allowBBCodes	: <!-- IF S_BBCODE_ALLOWED -->true<!-- ELSE -->false<!-- ENDIF -->,
		liveUpdates		: <!-- IF MCHAT_LIVE_UPDATES -->true<!-- ELSE -->false<!-- ENDIF -->,
		relativeTime	: <!-- IF MCHAT_RELATIVE_TIME -->true<!-- ELSE -->false<!-- ENDIF -->,
		showCharCount	: <!-- IF MCHAT_CHARACTER_COUNT -->true<!-- ELSE -->false<!-- ENDIF -->,

		// Limits & timeouts
		refreshTime		: {MCHAT_REFRESH_JS},
		whoisRefresh	: {MCHAT_WHOIS_REFRESH},
		timeout			: {MCHAT_TIMEOUT},
		mssgLngth		: {MCHAT_MESSAGE_LNGTH},
		editDeleteLimit	: {MCHAT_EDIT_DELETE_LIMIT},
		logId			: {MCHAT_LOG_ID},
		removeBBCodes	: '{A_MCHAT_DISALLOWED_BBCODES}',

		// Language
		lang: {
			minutesAgo		: {
				<!-- BEGIN mchattime -->
				{mchattime.KEY}: '{mchattime.A_LANG}'<!-- IF not mchattime.IS_LAST -->,<!-- ENDIF -->
				<!-- END mchattime -->
			},
			err				: '{LA_ERROR}',
			parserErr		: '{LA_AJAX_ERROR_TEXT_PARSERERROR}',
			newMessageAlert	: '{LA_MCHAT_NEW_CHAT}',
			noMessageInput	: '{LA_MCHAT_NOMESSAGEINPUT}',
			editInfo		: '{LA_MCHAT_EDITINFO}',
			delConfirm		: '{LA_MCHAT_DELCONFIRM}',
			sessOut			: '{LA_MCHAT_SESSION_OUT}',
			sessEnds		: '{LA_MCHAT_SESSION_ENDS_JS}',
			mention			: '{LA_MCHAT_MENTION}',
			refreshYes		: '{A_MCHAT_REFRESH_YES}',
			refreshNo		: '{LA_MCHAT_REFRESH_NO}',
			charCount		: '<!-- IF MCHAT_MESSAGE_LNGTH -->{LA_MCHAT_CHARACTER_COUNT_LIMIT}<!-- ELSE -->{LA_MCHAT_CHARACTER_COUNT}<!-- ENDIF -->',
			mssgLngthLong	: '{A_MCHAT_MESS_LONG}',
			likes			: '{LA_MCHAT_LIKES}'
		}
	};
// ]]>
</script>
