{% if MCHAT_PAGE == 'archive' or not (MCHAT_ALLOW_USE and S_BBCODE_ALLOWED) %}
	{% INCLUDEJS T_ASSETS_PATH ~ '/javascript/editor.js' %}
{% endif %}

{% INCLUDEJS '@dmzx_mchat/javascript/jquery.autogrow-textarea.js' %}
{% INCLUDEJS '@dmzx_mchat/javascript/jquery.titlealert.min.js' %}
{% INCLUDEJS '@dmzx_mchat/javascript/mchat.js' %}

<script type="text/javascript">
	// <![CDATA[
	var form_name = 'postform';
	var text_name = 'message';
	var mChat = {
		// General settings
		actionUrls		: {
			{% for mchaturl in loops.mchaturl %}
				{{ mchaturl.ACTION }}: '{{ mchaturl.URL }}'{{ loop.last ? '' : ',' }}
			{% endfor %}
		},
		page			: '{{ MCHAT_PAGE | escape('js') }}',
		cookie			: '{{ COOKIE_NAME | escape('js') }}',
		pause			: {{ MCHAT_PAUSE_ON_INPUT ? 'true' : 'false' }},
		playSound		: {{ MCHAT_SOUND ? 'true' : 'false' }},
		messageTop		: {{ MCHAT_MESSAGE_TOP ? 'true' : 'false' }},
		allowBBCodes	: {{ S_BBCODE_ALLOWED ? 'true' : 'false' }},
		liveUpdates		: {{ MCHAT_LIVE_UPDATES ? 'true' : 'false' }},
		relativeTime	: {{ MCHAT_RELATIVE_TIME ? 'true' : 'false' }},
		showCharCount	: {{ MCHAT_CHARACTER_COUNT ? 'true' : 'false' }},

		// Limits & timeouts
		refreshTime		: {{ MCHAT_REFRESH_JS }},
		whoisRefresh	: {{ MCHAT_WHOIS_REFRESH }},
		timeout			: {{ MCHAT_TIMEOUT }},
		mssgLngth		: {{ MCHAT_MESSAGE_LNGTH }},
		editDeleteLimit	: {{ MCHAT_EDIT_DELETE_LIMIT }},
		logId			: {{ MCHAT_LOG_ID }},
		removeBBCodes	: '{{ MCHAT_DISALLOWED_BBCODES | escape('js') }}',

		// Language
		lang: {
			minutesAgo		: {
				{% for minute in 0..MCHAT_MINUTES_AGO_LIMIT-1 %}
					{{ minute }}: '{{ lang('MCHAT_MINUTES_AGO', minute) | escape('js') }}'{{ loop.last ? '' : ',' }}
				{% endfor %}
			},
			err				: '{{ lang('ERROR') | escape('js') }}',
			parserErr		: '{{ lang('AJAX_ERROR_TEXT_PARSERERROR') | escape('js') }}',
			newMessageAlert	: '{{ lang('MCHAT_NEW_CHAT') | escape('js') }}',
			noMessageInput	: '{{ lang('MCHAT_NOMESSAGEINPUT') | escape('js') }}',
			editInfo		: '{{ lang('MCHAT_EDITINFO') | escape('js') }}',
			delConfirm		: '{{ lang('MCHAT_DELCONFIRM') | escape('js') }}',
			sessOut			: '{{ lang('MCHAT_SESSION_OUT') | escape('js') }}',
			sessEnds		: '{{ lang('MCHAT_SESSION_ENDS_JS') | escape('js') }}',
			mention			: '{{ lang('MCHAT_MENTION') | escape('js') }}',
			refreshYes		: '{{ lang('MCHAT_REFRESH_YES', MCHAT_REFRESH_RATE) | escape('js') }}',
			refreshNo		: '{{ lang('MCHAT_REFRESH_NO') | escape('js') }}',
			charCount		: '{{ lang(MCHAT_MESSAGE_LNGTH ? 'MCHAT_CHARACTER_COUNT_LIMIT' : 'MCHAT_CHARACTER_COUNT') | escape('js') }}',
			mssgLngthLong	: '{{ lang('MCHAT_MESS_LONG', MCHAT_MAX_MESSAGE_LENGTH) | escape('js') }}',
			likes			: '{{ lang('MCHAT_LIKES') | escape('js') }}'
		}
	};
// ]]>
</script>
